h2 {
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    gap: 2rem;
    padding: 0 2rem;
   
}
.box {
    flex : 1;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    min-height: 650px;
   
    border-radius: 1rem;

}
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        height: auto; 
        padding: 2rem; 
    }

    .box {
        width: 100%; 
        min-height: 300px; 
    }
    .card {
        flex-direction: column; 
        align-items: flex-start; 
    }
       .restaurant-image {
        width: 100% !important;       /* 🔥 full bredd */
        height: 180px !important;     /* 🔥 fast höjd */
        border-radius: 12px 12px 0 0; /* 🔥 rund top */
    }

 
}
.diet-list {
    display: flex;
    gap: 0.3rem;
    margin: 5px;
    font-size: 10px;
  
}
.diet {
  
    
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    color: white;
}

.restaurant-list {
    margin: 0;
}

.card {
   background-color: #4f7172;
    display: flex;
    align-items: stretch;
   border-radius: 12px;
    margin: 0.5rem;
    gap: 1rem;
    overflow: hidden;
    
}
.card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

 .restaurant-image {
    height: 100%;
    width: 140px;
     border-radius: 12px 0 0 12px; 
    object-fit: cover;
    display: block;
  }

.card-text h2 {
    margin: 0;
    min-width: 0;

}

.card-text p {
    margin: 4px 0 0 0;
    font-size: 10px;
    color: var(--color-text-light);
}

.favoriter-text {
    background-color: #4f7172;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.right-card {
    display: flex;
    flex-direction: row;
    gap: 1px;
    background-color: #4f7172;
     border-radius: 12px;
     overflow: hidden;
    
  
    
}

.map-container {
    flex: 1;
    
    border-radius: 12px;
   
}
.right-text-container {
    flex: 1;
    border-radius: 12px;
    background-color: white;
    margin: 0.5rem;
    min-height: 250px;
    color: var(--text)
}

.right-map-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}
 .restaurant-description {
    line-height: 1.6;
  }
  .location {
    font-size: 10px;

  }

  .restaurant-type {
    font-size: 14px;

  }




    .right-text-description {
   
          font-size: 14px;
    color: var(--color-text-light);
}

.right-restaurant-image {
 margin: 20px;
}


.image-header-content {
    display: flex;
    flex-direction: row;
}
.right-text-content {
    margin-top: 20px;
  flex-direction: column;
    margin-left: 1rem;


}
.right-description-content {
font-size: 15px;
border-radius: 12px;
margin-left: 5px;
margin-right: 5px;


}

    


 
 
 
  

